<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
</head>
<body>
    <h1>Your Cart</h1>
    <ul>
        {% for item in cart_items %}
        <li>
            <h2>{{ item.product.name }}</h2>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ${{ item.product.price }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'checkout' %}">Checkout</a>
</body>
</html>
